/.project
/.classpath
/.settings
/bin
/target
/temp
/test-output
/catalina.home_IS_UNDEFINED
/src/main/webapp/WEB-INF/classes
/src/main/webapp/WEB-INF/lib
/target
.tomcatplugin
*.jar
/.springBeans
/.concat
/*/temp/
/*//catalina.home_IS_UNDEFINED/
/*/.project
/*/.classpath
/*/target
/*/temp
/*/catalina.home_IS_UNDEFINED
/*/.settings/
/*/bin/
/*/test-output/
/*/src/main/webapp/WEB-INF/classes
/*/src/main/webapp/WEB-INF/lib
/*/.tomcatplugin
/*/*.jar
/*/.springBeans
/*/.concat
target/
/bin
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/WEB-INF/lib
/.idea/
*.iml
/jin-college-business/src/main/webapp/WEB-INF/classes/
/jin-college-business/logs/
/logs/
/jin-college-protocol/src/main/webapp/static/node_modules/
/jin-college-protocol/src/main/webapp/static/.sass-cache
/jin-collegemgw-protocol/src/main/webapp/static/node_modules/